 :root{
  --main-color-headers: #212121;
  --main-text-color:  #757575;
  --white-color: #FFFFFF;
  --section-bg-buttons: #F5F4FA;
  --color-button-logo: #2196F3;
  --hero-background: #2F303A;
 } 
 /* свойства body */
body {
     font-family: Roboto;
     font-style: normal;
     background-color: #FFFFFF;
     color: #757575;
    }
 /* убрать точки у всех списках */
ul{
     list-style: none;
    }
 /* свойства для все ссылок */
a{
     color:inherit;
     text-decoration: none;
     font-style: normal;          
    }
 /* Logo */
.logo{
     font-family: Raleway;
     font-weight: bold;
     font-size: 26px;
     line-height: 1.192;
     color: #212121;
}
.logo-web{
     color: #2196F3;
 
}.active {
     color: #2196F3;
  }
/* Sait-nav */
.sait-nav .link{
     color: #212121;
}
.sait-nav .link:hover, 
.sait-nav .link:focus{
     color: #2196F3;
} 
/* Sait-contacts */
.sait-contacts .mail{
     color:  #757575;    
} 
.sait-contacts .phone{
     color: #757575;
}
.sait-contacts .mail:hover,
.sait-contacts .mail:focus{
     color:#2196F3;
}
.sait-contacts .phone:hover,
.sait-contacts .phone:focus{
     color:#2196F3;
}
 /* Hero */
 .hero{
     background-color: #2F303A;
 }
 .hero .title{  
     font-weight: 900;
     font-size: 44px;
     line-height: 1.363;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: #FFFFFF;
 }
   /* кнопка Заказать услугу */
 .button{
     font-weight: bold;
     font-size: 16px;
     line-height: 1.875;
     padding: 10px 32px;
     margin: auto;
     background: #2196F3;
     color: #FFFFFF;
     display: flex;
     align-items: center;
     text-align: center;
     letter-spacing: 0.06em;   
     width: 200px;
     height: 50px;
     left: 700px;
     top: 430px;  
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;     
     border: none; 
    }
    /* Особенности */
 .feature-title{
     font-weight: bold;
     font-size: 14px;
     line-height: 1.172;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #212121;
    }
 .feature-text{
     font-weight: normal;
     font-size: 14px;
     line-height: 1.714; 
     letter-spacing: 0.03em;    
     color: #757575;
 }
 /* Чем занимаемся */
 .title{
     font-weight: bold;
     font-size: 36px;
     line-height: 1.172;
     text-align: center;
     letter-spacing: 0.03em;
     color: #212121;
      }
 /* Команда */
 .team-member{
     font-weight: 500;
     font-size: 16px;
     line-height: 1.188;       
     letter-spacing: 0.03em;    
     color: #212121;
 }
 .team-next{
     font-weight: normal;
     font-size: 16px;
     line-height: 19px;
     letter-spacing: 0.03em;
     color: #757575;
 }
 /* Контакты */
 .contacts{
     font-weight: normal;
     font-size: 14px;
     line-height: 1.714;     
     letter-spacing: 0.03em; 
     background: #2F303A; 
     color: rgba(255, 255, 255, 0.6);
 }
 .contacts .contacts-adress{
    color: #FFFFFF;
 }
 .contacts .logo{
     color: #FFFFFF;
 }


     


 
      




 



 

