body {
     background-color: #FFFFFF;
     color: #757575;
    }
ul{
        list-style: none;
    }  
.logo{
     color: #2196F3 ;
}
.sait-nav .link{
     color: #212121;
}
.sait-nav .link:hover, 
.sait-nav .link:focus{
    color: #2196F3;
}



 

/* основной цвет заголовков #212121; */
/* основной цвет текста  #757575; */
/* цвет фона #F5F4FA; */
/* цвет кнопок, лого #2196F3; */
/* цвет основного фона #FFFFFF; */